body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
}

.introducao{
    min-height: 100vh;
    background-image: url('background.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.titulo1{
    font-family: 'Inter', sans-serif;
    font-size: 96px;
    color: white;
    font-weight: 400;
}

.titulo2{
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 48px;
}

.texto1{
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

span{
    font-weight: bold;
}

section {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    height: 100%; 
    padding: 20px; 
}

.input-container{
    display: flex;
    flex-direction: column; 
    margin-bottom: 15px; 
}

label {
    margin-bottom: 5px; 
}

input::placeholder{
    font-family: 'Inter', sans-serif;
}

.campo{
    border-radius: 15px; 
    border: 1px solid black;
}

.lembrar-container {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    margin-bottom: 15px;
}

.lembrar-container input {
    margin: 0; 
}

.lembrar-container p {
    margin: 0 0 0 auto; 
}

.botao{
    font-family: 'Mulish', sans-serif;
    background-color: #9E5BE1;
    border-radius: 10px;
    font-weight: 400;
    font-size: 24px;
    width: 391px;
    height: 50px;
    color: white;
}

.alinha{
    text-align: center;
    margin-top: 40px;
}